extends ./index.jade

block content
    .content-wrapper
        .row
            .col-md-12
                .box.static
                    .post
                        .post__headline
                            .post__headline--left
                                .post__avatar.post__avatar--active
                                    img.post__avatar--img(src="/img/head-avatar.jpg")
                                .post__avatar--icon
                                    img.post__avatar--iconimg(src="/img/mom-icon.png")
                                span.post__author Дженнифер Лопес

                            .post__headline--time 15 мин назад
                        .post__text
                            | Описание проблемы, что имеенно нужно решить, описание симптомов болезни ребенка,
                            | проблемы с которой столкнулись молодые родители...
                        .post__footer
                            .post__footer--left
                                .badge
                                    .badge__icon.badge__comment-icon
                                    span.badge__text 12
                            .post__footer--right
                                .badge
                                    .badge__icon.badge__smile1-icon
                                    span.badge__text 321
                                .badge
                                    .badge__icon.badge__smile2-icon
                                    span.badge__text 0
                                .badge
                                    .badge__icon.badge__dots-icon

                    .write-post
                        .write-post--text Комментарии
                        button.write-post--btn.pink-button
                            .button--icon
                            span.button-text Написать
                    .post
                        .post__headline
                            .post__headline--left
                                .post__avatar
                                    img.post__avatar--img(src="/img/avatar2.jpg")
                                .post__avatar--icon
                                    img.post__avatar--iconimg(src="/img/mom-icon.png")
                                span.post__author Дженнифер Лопес

                            .post__headline--time 10.12.2015  в  09:47
                        .post__text
                            | Описание проблемы, что имеенно нужно решить, описание симптомов болезни ребенка,
                            | проблемы с которой столкнулись молодые родители...
                            | Описание проблемы, что имеенно нужно решить, описание симптомов болезни ребенка,
                            | проблемы с которой столкнулись молодые родители...
                        .post__footer
                            .post__footer--left
                                .badge
                                    .badge__icon.badge__comment-icon
                                    span.badge__text 12
                            .post__footer--right
                                .badge
                                    .badge__icon.badge__smile1-icon
                                    span.badge__text 321
                                .badge
                                    .badge__icon.badge__smile2-icon
                                    span.badge__text 0
                                .badge
                                    .badge__icon.badge__dots-icon


                    .post
                        .post__headline
                            .post__headline--left
                                img.post__reply-icon(src="/img/icon-post-arrow.png")
                                .post__avatar
                                    img.post__avatar--img(src="/img/avatar3.jpg")
                                .post__avatar--icon
                                    img.post__avatar--iconimg(src="/img/mom-icon.png")
                                span.post__author Дженнифер Лопес

                            .post__headline--time 10.12.2015  в  12:17
                        .post__text
                            a(href="#").post__text--link Марина
                            | , и делее ответ по данному сообщению. Например, а мы в такой ситуации вот так и вот
                            | так и нам помогло уже через 2 часа ребенок прекрасно себя чувствовал.
                        .post__footer
                            .post__footer--left
                                .badge
                                    .badge__icon.badge__comment-icon
                                    span.badge__text 12
                            .post__footer--right
                                .badge
                                    .badge__icon.badge__smile1-icon
                                    span.badge__text 321
                                .badge
                                    .badge__icon.badge__smile2-icon
                                    span.badge__text 0
                                .badge
                                    .badge__icon.badge__dots-icon