extends ./index.jade

block content
    .subhead

    .content-wrapper
        .row
            .col-md-12
                .box
                    .box-content.no-padding
                        .journal
                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 1 месяц
                                    .journal-links-block-decription--text 24.04.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 2 месяца
                                    .journal-links-block-decription--text 25.05.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 3 месяца
                                    .journal-links-block-decription--text 22.06.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 4 месяца
                                    .journal-links-block-decription--text 25.07.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 5 месяцев
                                    .journal-links-block-decription--text 25.05.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 6 месяцев
                                    .journal-links-block-decription--text 25.06.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")

                            a.journal-links-block
                                .journal-links-block-decription
                                    .journal-links-block-decription--title Мне 7 месяцев
                                    .journal-links-block-decription--text 25.07.2014
                                .journal-links-block-image
                                    img(src="build/img/journal-img-ex.png")



    script.
        console.log('runnnign scripts')
        $(function(){$('.navbar-default').removeClass('shadow')});


