extends ./index.jade

block content
    .subhead.clearfix
        .pull-left
            .filter-name(data-toggle="modal" data-target="#modalFleaMarket") Фильтр
        ul(class='nav nav-tabs' role='tablist')
            li(role="presentation" class="active")
                a(href='#home' aria-controls='home' role='tab' data-toggle='tab') Все
            li(role="presentation")
                a(href='#profile' aria-controls='profile' role='tab' data-toggle='tab') Избранные

            li(role="presentation")
                a(href='#my-items' aria-controls='profile' role='tab' data-toggle='tab') Мои товары

            li(role="presentation")
                a(href='#sail-item' aria-controls='profile' role='tab' data-toggle='tab') Продать товар

    .content-wrapper
        .row
            .tab-content
                div(role="tabpanel" class="tab-pane active" id="home")
                    .col-md-12
                        .box.gray.no-shadow
                            .box-content.no-padding
                                .fleaMarket.clearfix
                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Футболка с рисунком. Размер: 74

                                        .fleaMarket-block--body
                                            .item-slider
                                                div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                                                    div(class="carousel-inner" role="listbox")
                                                        .item.active
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")
                                                        .item
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")

                                                    a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
                                                        span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                                        span.sr-only Previous
                                                    a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
                                                        span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                                                        span.sr-only Next

                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Цена: 100 грн.
                                            .like-block

                                        .fleaMarket-block--body
                                            .sail-block
                                                .av-block
                                                    img(src="img/avatar-ex.png", alt="")
                                                img(src="img/mom-icon.png" width="16" class="mom-icon-block" height="42")
                                                .name Марина Кравец

                                            .write-block
                                                button.pink-button Написать продавцу
                                            .item-text
                                                p Здесь будет текст описания товара, состав, особенности. Здесь будет текст описания товара, состав, особенности.
                            .box-content.no-padding
                                .fleaMarket.clearfix
                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Футболка с рисунком. Размер: 74

                                        .fleaMarket-block--body
                                            .item-slider
                                                div(id="carousel-example-generic2" class="carousel slide" data-ride="carousel")
                                                    div(class="carousel-inner" role="listbox")
                                                        .item.active
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")
                                                        .item
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")

                                                    a(class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev")
                                                        span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                                        span.sr-only Previous
                                                    a(class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next")
                                                        span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                                                        span.sr-only Next

                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Цена: 100 грн.
                                            .like-block

                                        .fleaMarket-block--body
                                            .sail-block
                                                .av-block
                                                    img(src="img/avatar-ex.png", alt="")
                                                img(src="img/mom-icon.png" width="16" class="mom-icon-block" height="42")
                                                .name Марина Кравец

                                            .write-block
                                                button.pink-button Написать продавцу
                                            .item-text
                                                p Здесь будет текст описания товара, состав, особенности. Здесь будет текст описания товара, состав, особенности.

                div(role="tabpanel" class="tab-pane" id="profile")
                    .col-md-12
                        .box
                            .box-content.no-padding
                                .box-head
                                    .text Я родился

                div(role="tabpanel" class="tab-pane" id="my-items")
                    .col-md-12
                        .box.gray.no-shadow
                            .box-content.no-padding
                                .fleaMarket.clearfix
                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Спортивные штаны. Размер: 74

                                        .fleaMarket-block--body
                                            .item-slider
                                                div(id="carousel-example-generic" class="carousel slide" data-ride="carousel")
                                                    div(class="carousel-inner" role="listbox")
                                                        .item.active
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")
                                                        .item
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")

                                                    a(class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev")
                                                        span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                                        span.sr-only Previous
                                                    a(class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next")
                                                        span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                                                        span.sr-only Next

                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Цена: 180 грн.
                                            .like-block

                                        .fleaMarket-block--body
                                            .sail-block
                                                .av-block
                                                    img(src="img/avatar-ex.png", alt="")
                                                img(src="img/mom-icon.png" width="16" class="mom-icon-block" height="42")
                                                .name Дженнифер Лопес

                                            .write-block
                                                button.bordered-button Продано
                                            .item-text
                                                p Здесь будет текст описания товара, состав, особенности. Здесь будет текст описания товара, состав, особенности.

                            .box-content.no-padding
                                .fleaMarket.clearfix
                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text Детские сандали. размер: 24

                                        .fleaMarket-block--body
                                            .item-slider
                                                div(id="carousel-example-generic2" class="carousel slide" data-ride="carousel")
                                                    div(class="carousel-inner" role="listbox")
                                                        .item.active
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")
                                                        .item
                                                            .item-image-wrap
                                                                .item-image-content
                                                                    img(src="/img/item-image.png", alt="")

                                                    a(class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev")
                                                        span(class="glyphicon glyphicon-chevron-left" aria-hidden="true")
                                                        span.sr-only Previous
                                                    a(class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next")
                                                        span(class="glyphicon glyphicon-chevron-right" aria-hidden="true")
                                                        span.sr-only Next

                                    .col-sm-6.col-xs-12.fleaMarket-block
                                        .fleaMarket-block--head
                                            .text цена: 400 грн.
                                            .like-block.active

                                        .fleaMarket-block--body
                                            .sail-block
                                                .av-block
                                                    img(src="img/avatar-ex.png", alt="")
                                                img(src="img/mom-icon.png" width="16" class="mom-icon-block" height="42")
                                                .name Марина Кравец

                                            .write-block
                                                .buyed ПРОДАНО
                                            .item-text
                                                p Здесь будет текст описания товара, состав, особенности. Здесь будет текст описания товара, состав, особенности.

                div(role="tabpanel" class="tab-pane" id="sail-item")
                    .sail-item
                        .col-md-12
                             .box
                                .box-head
                                    .text контактные данные
                                .box-content
                                    .row
                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group
                                                .input-wrapper.input-wrapper-fluid
                                                    input(type="text" placeholder="Название").padded

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group
                                                .input-wrapper.input-wrapper-fluid
                                                    input(type="text" placeholder="Размер").padded

                                        .input-w-select
                                            .col-xs-12.col-sm-6
                                                .form-group.common-form-group
                                                    .input-wrapper.input-wrapper-fluid
                                                        input(type="text" placeholder="Стоимость").padded

                                            .col-xs-12.col-sm-6
                                                .form-group.common-form-group
                                                    .dropdown.box-dropdown
                                                        a.box-dropdown__text#dLabel(data-target='#', href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                                                            | Валюта: RUB
                                                            span.caret
                                                        ul.box-dropdown__list.dropdown-menu(aria-labelledby='dLabel')
                                                            li: a(href="#") item 1
                                                            li: a(href="#") item 2

                                        .col-xs-12
                                            .form-group.common-form-group
                                                .input-wrapper.input-wrapper-fluid
                                                    input(type="text" placeholder="Описание товара").padded

                                        .col-xs-12.col-sm-4
                                            .form-group.common-form-group.mb-xs-0
                                                label Пол

                                        .col-xs-12.col-sm-8
                                            .form-group.common-form-group
                                                .row
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="female" name="sex" checked id="all")
                                                        label(for="all") Все
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="male" name="sex" id="male")
                                                        label(for="male") Мальчик
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="male" name="sex" id="male")
                                                        label(for="male") Девочка

                                        .col-xs-12.col-sm-4
                                            .form-group.common-form-group.mb-xs-0
                                                label Возраст

                                        .col-xs-12.col-sm-8
                                            .form-group.common-form-group
                                                .row
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="female" name="age" checked id="fr")
                                                        label(for="fr") 0-12 мес.
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="male" name="age" id="sd")
                                                        label(for="sd") 1-3 года
                                                    .col-xs-4.usual-radio-block
                                                        input(type="radio" value="male" name="age" id="th")
                                                        label(for="th") от 3 лет

                                        .col-xs-12
                                            .box-row
                                                .box-square-button.with-image
                                                    .box-square-button-with-image
                                                        .image
                                                            img(src="img/image-fleaMarket.png", alt="")

                                                .box-square-button
                                                    .box-square-button__icon
                                                        img(src="/img/icon-video.png")
                                                    .box-square-button__text Прикрепить видео

                                .box-head
                                    .text Категории товара (максимум 3 категории)
                                .box-content
                                    .row
                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text Детское питание

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text Для кормления

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check', checked='')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text Футболки

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text КУртки

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text штаны

                                        .col-xs-12.col-sm-6
                                            .form-group.common-form-group.checkbox-row
                                                .custom-checkbox.box-checkbox
                                                    input.checkbox#checkbox(type='checkbox', value='None', name='check')
                                                    label(for='checkbox')
                                                p.upper-box-text.checkbox-row__text Спортивные костюмы

                                .box-footer
                                    button.bordered-button Добавить товар

    include  ./partials/modal-fleaMarket.jade



