doctype html
html(lang='en')
    head
        title Baby Boo
        link(href="css/vendor.css" rel="styleSheet")
        link(href="css/main.css" rel="styleSheet")

        script(src="js/bundle.js")
        script(src="http://maps.googleapis.com/maps/api/js")

    body
        include partials/header

        include  partials/sidenav

        .main-wrapper

            block content
