/vendor
/resources/assets/vendor
/node_modules
/Homestead.yaml
/.env
/.idea
/.vagrant
/build/workspace
/Vagrantfile
.DS_Store
.gulp.dev.js
.watch-front.sh
/assets/vendor
/public/build
/public/css/
/public/js/
/public/uploads
/public/robots.txt
.gulp.dev.js
/docs/db/*.bak