@media(max-width 720px)
  .nav.sidenav
    width: 82px !important
    .sidenav-menu__itemtext
      display: none
    .sidenav-menu__item-parent
      padding-left: 25px
@media(max-width 720px)
  .main-wrapper
    margin-left: 82px
