.btn:focus
  outline none

.bordered-button
  background-color transparent
  border 2px solid #cc6698
  height 40px
  color #cc6698
  padding 10px 64px 8px
  text-transform uppercase
  border-radius 20px
  transition all .03s ease
  font-size 13px
  font-weight bold
  &:hover
    background-color $pink
    color white
  &:active
    box-shadow 0 1px 3px rgba(204, 102, 152, 0.1) inset


.pink-button
  background-color #cc6698
  border-radius 20px
  font-size 13px
  font-weight 700
  color white
  padding 0 64px
  line-height 40px
  box-shadow none
  border none
  transition all .2s ease
  cursor pointer
  font-family 'San francisko',sans-serif
  text-transform uppercase

  &:hover
    background-color lighten(#cc6698, 10)
    color white


  .button--icon
    display inline-block
    background-position center
    background-repeat no-repeat
    width 30px
    height 30px
    margin-right 10px



//DEFAULT FLAT BUTTON (NO BG)
.flat-btn
  color $text-pink
  font-size 15px
  box-shadow none
  outline none
  background-color transparent
  border none
  transition all .2s ease-in-out

  &:hover
    color darken($text-pink, 18)

.subhead-back-button
  margin-top 16px
  color black
  margin-left 35px

.subhead-edit-button
  margin 16px 35px 0

.subhead-button
  margin-top 10px
  .button-icon
    display inline-block
    background-position center

.buyed
  background url(../img/sailed.png) no-repeat
  color #cc6698
  font-family 'San francisko',sans-serif
  font-size 13px
  font-weight 700
  line-height 32px
  text-transform uppercase
  padding-left 48px