.modal-backdrop
  background-color #fafafa
  &.in
    opacity 0.91
.modal
  text-align center
  padding 0!important
  font-family 'San francisko',sans-serif

  &:before
    content ''
    display inline-block
    height 100%
    vertical-align middle
    margin-right -4px

.modal-dialog
  display inline-block
  text-align left
  vertical-align middle
  font-family 'San francisko',sans-serif

.modal-content
  background-color white
  border 1px solid rgba(0, 0, 0, 0.04)
  box-shadow 0 4px 20px rgba(0, 0, 0, 0.12)
  border-radius 0

.modal-header
  max-height 70px
  background-color #efefef
  border-bottom 1px solid #ece4e8
  position relative
  font-family 'San francisko',sans-serif

  .close
    position absolute
    right -50px
    width 36px
    height 36px
    opacity 1
    top -50px

    svg
      transition all .1s ease

    &:hover
      svg
        path, rect, polygon
          fill lighten($text-pink, 8)


.modal-body
  padding 0

.modal-body-subheader
  color $text-pink
  height 70px
  line-height 70px
  border-bottom 1px solid #ece4e8
  text-align center
  text-transform uppercase
  font-size 13px
  font-weight 700


.modal-title
  color #333
  font-size 13px
  font-weight 700
  line-height 46px
  text-transform uppercase

.modal-footer
  height 100px
  display flex
  padding 15px 30px
  justify-content flex-start
  align-items center
  font-family 'San francisko',sans-serif
  &--btn
    max-height 40px

.photo-upload-dialog
  width 842px

.modal-photo-gallery
  display flex
  flex-direction row
  flex-wrap wrap
  max-height: 320px
  overflow: auto
  padding 30px 30px 0

  &--item
    display flex
    flex 1 1 134px
    margin auto
    max-width 134px
    max-height 134px
    height 134px
    margin-bottom 30px
    cursor pointer
    background-color #eaeaea
    &:hover
      >img
        opacity 0.8
    > img
      transition all .1s ease
      max-width 100%
      height auto

.modal-fleaMarket
  padding 30px 30px 0
  max-height 490px
  overflow auto

  .modal-fleaMarket-head
    background-color #efefef
    border-bottom 1px solid #ece4e8
    position relative
    color #333
    font-size 13px
    font-weight 700
    margin 0 -30px
    padding 27px 30px 24px
    font-family 'San francisko',sans-serif
    text-transform uppercase

  .head-search
    padding 17px 30px 10px
    border-bottom solid 1px #ece4e8
    margin 0 -30px 30px

    .head-search-icon
      width 46px

    .input-wrapper
      width 100%

    .input-group
      width 100%
  .checkbox-row
    margin-bottom 30px