$sidenav-bg-color =  #312429


.nav.sidenav
  position fixed
  top 80px
  height calc(100% - 80px)
  left 0
  width $sidenav-width
  transition all .8s ease
  z-index 2

.sidenav-content
  position absolute
  overflow hidden
  width 100%
  height 100%
  min-height 100%
  background rgba($sidenav-bg-color, 0.95)
.sidenav-bg
  background-color $sidenav-bg-color
  background-image url('/img/sidenav-bg.png')
  background-size cover
  width 100%
  height 100%
  opacity 0.96
  position absolute
  z-index 0

.sidenav-menu
  padding 12px 0 0 0
  height 100%
  overflow-y scroll
  width 310px
  &__item-parent
    min-height 70px
    position relative
    line-height 70px
    padding-left 33px
    border-left  4px solid transparent


    &.active
      border-left 4px solid $pink

      .sidenav-menu__item
        color $pink

        svg
          path, rect, polygon
            fill $text-pink

  &__item
    color white
    font-size 18px
    transition all .011s ease
    text-decoration none

    &:hover, &:active, &:focus
      color $text-pink
      text-decoration none

    &:hover
      svg
        path, rect, polygon
          fill $text-pink

    &--active
      font-size 18px
      color $text-pink

  &__itembadge
    min-width 40px
    height 24px
    line-height 20px
    top 50%
    margin-top -13px
    position absolute
    right 32px
    background-color white
    color $text-pink
    padding 4px 12px
    border-radius 12px


.sidenav-menuitem
  &__icon
    width 30px
    height 30px
    vertical-align middle
    display inline-block
    margin-right 20px

    svg
      vertical-align top
      path, rect, polygon
        transition all .11s ease
        fill white



.bottom-menu__last
  margin-top 70px

//submenu
.sidenav_submenu
  padding-left 44px
  &__a
    color white
    font-size 15px
    transition all .007s ease
    &:hover
      color $text-pink
      text-decoration none
    &:active
      color white
    &.active
      color $text-pink
    &:first-child
      margin-top 13px
    &:focus
      color $text-pink
.sidenav_submenu__li
  min-height 52px
  line-height initial
  padding-left 5px
