.modal.fade(tabindex='-1', role='dialog')#myModal
    .modal-dialog.photo-upload-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    include ..//../icons/ic_close.svg
                h4.modal-title Прикрепить фото
            .modal-body
                .modal-body-subheader Загрузить с компьютера
                .modal-photo-gallery
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image2.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image3.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image2.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image3.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image2.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image3.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image3.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image2.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image3.jpg")
                    figure.modal-photo-gallery--item
                        //-img(src="/img/post-image1.jpg")
            .modal-footer
                button.btn.pink-button.modal-footer--btn(type='button') Прикрепить
