.modal.fade(tabindex='-1', role='dialog')#myModal
    .modal-dialog.photo-upload-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    include ..//../icons/ic_close.svg
                h4.modal-title Прикрепить фото
            .modal-body
                .modal-body-subheader Загрузить с компьютера
                .modal-photo-gallery
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox(type='checkbox', value='None', name='check', checked='')
                            label(for='modalcheckbox')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox1(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox1')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox2(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox2')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox3(type='checkbox', value='None', name='check', checked='')
                            label(for='modalcheckbox3')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox4(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox4')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox5(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox5')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox6(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox6')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox7(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox7')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox8(type='checkbox', value='None', name='check')
                            label(for='modalcheckbox8')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox9(type='checkbox', value='None', name='check', checked='')
                            label(for='modalcheckbox9')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox11(type='checkbox', value='None', name='check', checked='')
                            label(for='modalcheckbox11')
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                        .gallery-checkbox.modal-gallery-item__checkbox
                            input.checkbox#modalcheckbox12(type='checkbox', value='None', name='check', checked='')
                            label(for='modalcheckbox12')

                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
                    figure.modal-photo-gallery--item.modal-gallery-item
                        img(src="/img/post134.png")
            .modal-footer
                button.btn.pink-button.modal-footer--btn(type='button') Прикрепить
