.modal.fade(tabindex='-1', role='dialog')#myModal
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    include ..//../icons/ic_close.svg
                h4.modal-title Прикрепить фото
            .modal-body
                .modal-body-subheader Загрузить с компьютера
                .modal-photo-gallery
                    .modal-photo-gallery--item
            .modal-footer
                button.btn.modal-footer--btn(type='button') Save changes
